Pandas is fast powwerful flexible, and easy to use open source data analysis and manipulation tool, built on the top of the python programming language.

PANDA series are like column in table 1-D array holding data of any type.

Types of objects


1.   Series
2.   Dataframe

In [47]:
#importing pandas
import numpy as np
import pandas as pd
#series
# create array
country = ['India', 'Nepal', 'USA', 'SriLanka', 'UK']
pd.Series(country)

0       India
1       Nepal
2         USA
3    SriLanka
4          UK
dtype: object

In [48]:
runs = [13,24,56,78,99,123,124]
pd.Series(runs)

0     13
1     24
2     56
3     78
4     99
5    123
6    124
dtype: int64

In [49]:
#custom index
marks = [90,80,30,40]
subject =   ['Physics','math', 'Biology', 'Nepal']
pd.Series(marks, index= subject)

Physics    90
math       80
Biology    30
Nepal      40
dtype: int64

In [50]:
#to give names
pd.Series(marks,index = subject, name ='Roshan')
#marks = pd.Series(index = subject, name = 'Roshan')

Physics    90
math       80
Biology    30
Nepal      40
Name: Roshan, dtype: int64

In [51]:
marks = pd.Series(index = subject, name = 'Roshan')
marks

<ipython-input-51-9c2fa23c53ef>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  marks = pd.Series(index = subject, name = 'Roshan')

Physics   NaN
math      NaN
Biology   NaN
Nepal     NaN
Name: Roshan, dtype: float64

In [52]:
#series from dict
marks = {
    'math':70,
    'nepali':90,
    'physics':80,
    'chemistry': 60
}
marks_series = pd.Series(marks)
marks

{'math': 70, 'nepali': 90, 'physics': 80, 'chemistry': 60}

In [53]:
pd.Series(marks, name = 'roshan')

math         70
nepali       90
physics      80
chemistry    60
Name: roshan, dtype: int64

SERIESE USING READ_CSV

In [54]:
# pd.read_csv('/content/subs.csv')
#this is not in series to see type we do
type(pd.read_csv('/content/subs.csv'))

pandas.core.frame.DataFrame

In [55]:
#to convert into serires
pd.read_csv('/content/subs.csv', squeeze =True)

<ipython-input-55-a23808ec79f0>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('/content/subs.csv', squeeze =True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [56]:
#insert into variable
subs = pd.read_csv('/content/subs.csv', squeeze = True)
subs

<ipython-input-56-65ae27aa4615>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('/content/subs.csv', squeeze = True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [57]:
#with 2 column
vk = pd.read_csv('/content/kohli_ipl.csv', index_col = 'match_no', squeeze = True)
vk

<ipython-input-57-fa9ec3401079>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('/content/kohli_ipl.csv', index_col = 'match_no', squeeze = True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [58]:
#with 2 column --- bollyhood
bolly = pd.read_csv('/content/bollywood.csv', index_col = 'movie', squeeze = True)
bolly

<ipython-input-58-b2dabc78fed1>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  bolly = pd.read_csv('/content/bollywood.csv', index_col = 'movie', squeeze = True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [59]:
#head and tail
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [60]:
#for rows-- 1st 5 rows
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [61]:
#last 5 rows
bolly.tail()

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [62]:
#randomly takes
bolly.sample()

movie
Fuddu    Shubham
Name: lead, dtype: object

In [63]:
#value _- counts
bolly.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [64]:
vk.value_counts()

0     9
1     8
12    8
9     7
35    6
     ..
36    1
45    1
71    1
37    1
53    1
Name: runs, Length: 78, dtype: int64

In [65]:
#sort_values---inplace
vk.sort_values()

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [66]:
vk.sort_values(ascending = False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [67]:
#sort index
bolly.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [68]:
bolly.sort_index(inplace = True)

In [69]:
bolly

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

#series maths methods
#count
count no.of items but not missing value[Gives total no,of rows given in series only if not missing]

In [70]:
#count
vk.count()

215

In [71]:
bolly.count()

1500

In [72]:
#sum
subs.sum()

49510

In [73]:
vk.product()

0

In [74]:
#mean
# subs.mean()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [75]:

print(subs.median())

123.0

In [76]:
#mode
print(bolly.mode())

0    Akshay Kumar
Name: lead, dtype: object

In [77]:
#standard deviation
print(subs.std())

62.6750230372527

In [78]:
print(vk.var())

688.0024777222343

In [79]:
#min/max
subs.min()

33

In [80]:
subs.max()

396

In [81]:
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

series indexing
given series inside takes items using index

In [82]:
#integer indexing
x  = pd.Series([10,22,31,24,33,23,11,44,56])
x

0    10
1    22
2    31
3    24
4    33
5    23
6    11
7    44
8    56
dtype: int64